# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
.next.tar.gz
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local

# PM2 logs
logs/
*.log

# vercel
.vercel

# Flutter / mobile_app build
mobile_app/build/
mobile_app/.dart_tool/
mobile_app/.packages
mobile_app/pubspec.lock

# typescript
*.tsbuildinfo
next-env.d.ts
